.projectMain{
    border:solid white;
    background-color: #071330;
    height:612px;
    color:#C3CEDA;
    display:flex;
    justify-content: space-between;
}
.leftBtn{
    border: solid red;
    display: flex;
    height: 100%;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.rightBtn{
    border: solid red;
    display: flex;
    height: 100%;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
@keyframes rightArrow {
    0% {
        opacity: 0;
        transform: translateX(105%);
    }

    30% {
        opacity: 0;
        transform: translateX(105%);
    }
}
@keyframes leftArrow {
    0% {
        opacity: 0;
        transform: translateX(-105%);
    }
    30% {
        opacity: 0;
        transform: translateX(-105%);
    }
}
.leftArrow{
    font-size: 60px;
    border: solid blue;
    color: #C3CEDA;
    height: 70px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: leftArrow 1s;
}
.rightArrow {
    font-size: 60px;
    border: solid blue;
    color: #C3CEDA;
    height: 70px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rightArrow 1s;
}
.center{
    border:solid 4px rgba(201, 23, 127, 0.918);
    width:100%;
}
.title{
    border:solid red;
    height:50px;
}
.info{
    border:solid green;
    height:40px;
}
.pjLink{
    border:solid red;
    height:40px;
}
.pjImgCarousel{
    border:solid green;
    height:400px;
}
.about{
    border:solid red;
    height:40px;
}