.projectsMain{
    border:solid white;
    background-color: #071330;
    height:612px;
    color:#C3CEDA;
    display:flex;
    justify-content: space-between;
}
.projectContainer{
    border:solid white;
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100%;
}
.pageTitle{
    border:solid red;
    margin:20px;
    height:10%;
}
.projects{
    border:solid red;
    height:600px;
    width:500px;
}
.leftArrow{
    border: solid red;
    display: flex;
    height: 100%;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.mainMylinks {
    border: solid pink;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.myLinks{
    height:462px;
    display: flex;
    flex-direction: column;
    border: solid orange;
    justify-content: center;
    /* align-items:last baseline; */
}
.left,.right{
    display:flex;
    flex-direction: column;
}
.hideMe{
    height:150px;
    border:solid red;
}
.pkmProjectImg{
    border:solid green;
    height:100px;
}